@import "bootstrap";
@import "/static/css/syntax.css";
@import "/static/fonts/font-awesome/css/font-awesome.min.css";
@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic,300);

// General Classes
html,body,.container {
  height:100%;
}
.main {
  .make-row();
  height:100%;
}

p {
  padding-bottom:40px;
}

.image {
  img {
    .img-responsive();
  }
  .image-caption {
    text-align:center;
    font-style:italic;
    font-size:@font-size-small;
  }
  margin-bottom:40px;
}

// Header
header.banner {
  .make-sm-column(4);
  
  .site-header {
    position:relative;
    margin-top:25px;
  }
  @site-header-size:100px;
  h1 {
    height:@site-header-size;
    width:@site-header-size;
    display:inline;
    a {
      color: #fff;
      background-color:@brand-primary;
      line-height:@site-header-size;
      height:@site-header-size;
      width:@site-header-size;
      text-align:center;
      display:block;
      margin:0 auto;
      &:hover {
        text-decoration:none;
      }
    }
    &:hover {
      background-color:lighten(@brand-primary, 10%);
    }
  }
  .subtitle {
    width:100%;
    display:block;
    font-size:16px;
    font-weight:300;
    text-align:center;
		color: @gray-light;
		text-transform:lowercase;
  }
  
  .site-nav {
		ul {
				.list-inline();
				text-align:center;
				margin-top:15px;
				margin-bottom:35px;
		}
		i {
			padding-right: 5px;
			display:inline-block;
			width:15px;
		}
		a {
			&:hover {
				text-decoration:none;
			}
		}
	  @media (min-width: @screen-sm-min) {
			width: @site-header-size;
			margin:0 auto;
			margin-top:50%;
	    ul {
	      .list-unstyled();
				text-align:left;
	    }
	  }
  }
  @media (min-width: @screen-sm-min) {
    height:100%;
  }
}

// Body Content
.content {
  .make-sm-column(8);
  font-size: @font-size-large;
  font-family: 'Merriweather', serif;
  font-weight:300;
  line-height:2;
  @media (min-width: @screen-sm-min) {
    margin-top:10%;
  }
}

p.welcome {
	color: @gray-light;
	font-style:italic;
	font-size: @font-size-small;
	padding-bottom:0;
	@media (min-width: @screen-sm-min) {
		font-size: @font-size-base;
		padding-bottom:0;
	}
	
}

ul.post-list {
	.list-unstyled();
	li {
		margin-bottom:20px;
		line-height:20px;
	}
	.meta {
		font-size:@font-size-small;
		font-style:italic;
		color: @gray-light;
	}
}

// Individual Posts
.post {
	header {
		margin-bottom:15px;
	}
	h2 {
		line-height:1.6;
		margin-bottom:0;
	}
	time {
		font-style:italic;
		font-color:@gray-light;
	}
}
